


* {
    font-family: 'Jost', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --purple:#AD1FEA;
    --navyblue:#4661E6;
    --darkblue: #373F68;
    --white:#FFFFFF;
    --bg:#F2F4FF;
    --boldtext: #3A4374;
    --text:#647196;
    --pink:#F49F85;
    --blue:#62BCFA;
  }
html {
background: var(--bg);
overflow-x: hidden;
position: relative;
    height: 100%;
}

.container {
  max-width: 1120px;
  padding: 10px;
  margin: 0 auto;
}

.main {
  display: flex;
  gap: 30px;
}
@media(max-width:885px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}


@media(max-width:692px) {
  .sidebar {
    display: none;
  }
}