.wrapper {
    width: fit-content;
    background: var(--bg);
    border-radius: 10px;
    padding: 5px 16px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        background: #CFD7FF;
    }
    .title {
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        color: var(--navyblue);

    }
    
}

.active {
    @extend .wrapper;
    background-color: var(--navyblue);
    &:hover {
        background: var(--navyblue);
    }
    .title {
        color: var(--white);
    }
}